{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom complet</th>
                <th>Livraison</th>
                <th>Adresse</th>
                <th>Complement d'adresse</th>
                <th>N° de téléphone</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.fullName }}</td>
                <td>{{ address.campany }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.complement }}</td>
                <td>{{ address.phone }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.codePostal }}</td>
                <td>{{ address.country }}</td>
                <td>
                    <a href="{{ path('address_show', {'id': address.id}) }}">Afficher</a>
                    <a href="{{ path('address_edit', {'id': address.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('address_new') }}">Créer</a>
{% endblock %}
